# git
.git/
.github/
.gitignore

# virtual enviroments
.venv/

# IDE settings
.idea/
.vscode/
.settings.json

# Docker
.dockerignore
docker-compose.yml
Dockerfile

# Cache files
__pycache__/
.mypy_cache/
.ruff_cache/
.dmypy.json

# env files
.env
envs/
*.env
.env*

# ai models
# 모델은 볼륨 마운트를 통해 사용, 이미지 경량화 목적.
*models/

# ETC
.python-version
README.md
docs/
