DB_HOST=localhost
DB_PORT=3306
DB_USER=ozcoding
DB_PASSWORD=pw1234
DB_ROOT_PASSWORD=Password123@!
DB_NAME=ai_health
SECRET_KEY=dasdhajda1231ASD!ZZA~A--ll;

REDIS_PORT=6379
REDIS_HOST=localhost
REDIS_PASSWORD=REDISPASSWORD

DOCKER_WEB_IMAGE=username/repo_name:web-lastest
DOCKER_AI_WORKER_IMAGE=username/repo_name:ai-lastest
